<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grumble Index</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <header>
    <h1>Grumble</h1> 
    <nav>
    <a href = "/login">Login</a>
    <a href = "/register">Create Account</a>
    <a href = "/user/messenger">Messages</a>
    <a href = "/user/index">Gabbs</a>
    </nav>
  </header>
  <main>
    <h3>Grumblers Grumbling with Many Grumbles...</h3>
    {{#data}}
     <div class = "container">
       <div class = "gabbContainer">
        <p>{{fname}}: {{message}}<p>
        <span>{{datetime}}</span>
        {{#likecount}}
        <a href = ""><span>{{likecount}} likes</a>
        {{/likecount}}
        {{^likecount}}
        <span>No likes yet.</span>
        {{/likecount}}
       </div>
       <div class = "likeContainer">
        <form action = "/user/addlike" method = "post">
        <input type = "hidden" value = "{{userid}}" name = "userid"/>
        <input type = "hidden" value = "{{id_grumble}}" name = "grumbId"/>
        <button type = "submit">Like</button>
        </form>
        </br>
        {{#deletebut}}
        <form action = "/deletePost" method = "delete">
        <button type = "submit">Delete</button>
        </form>
        {{/deletebut}}
       </div>
      </div>
    {{/data}}  
  </main> 
</body>
</html>