<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grumble Index</title>
  <link rel="stylesheet" href="/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>
  <header class = "head1">
    <h1>Grumble :-\</h1> 
    <nav>
    <span>Logged in as {{user}}, </span><a href = "/login">Logout</a>
    </br>
    <a href = "/register">Create Account</a>
    </br>
    <a href = "/user/messenger">Submit A Grumble</a>
    <br>
    <a href = "/user/index">Grumbs</a>
    </nav>
  </header>
  <main>
    <h3>Grumblers Grumbling with Many Grumbles...</h3> 
      <div class = "container">    
       <div class = "gabbContainer">
        {{#data}}
        {{#status}}       
        <h1 class = "grumb">{{fname}} grumbles: {{message}}<h1>
        <span>{{datetime}}</span>
        {{#likecount}}
        <a href = "/user/likecount/{{id_grumble}}"><span>{{likecount}} likes</a>
        {{/likecount}}
        {{^likecount}}
        <span>No likes yet.</span>
        {{/likecount}}
        <form action = "/user/addlike" method = "post">
        <input type = "hidden" value = "{{userid}}" name = "userid"/>
        <input type = "hidden" value = "{{id_grumble}}" name = "grumbId"/>
        <button type = "submit">Like</button>
        </form>
        {{#deletebut}}
        <form action = "/user/removePost" method = "post">
        <input type = "hidden" value = "{{id_grumble}}" name = "grumbId"/>
        <button type = "submit">Delete</button>
        </form> 
        {{/deletebut}}
        {{/status}}
        {{/data}}
       </div> 
      </div>       
  </main>
</body>
</html>