<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gabbs</title>
  <link rel="stylesheet" href="/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>
  <header class = "head2">
    <h1>Grumble :-|</h1> 
    <nav>
    <p>Logged in as {{user}},</p><a href = "/login">Logout</a>
    </br>
    <a href = "/register">Create Account</a>
    </br>
    <a href = "/user/messenger">Messages</a>
    </br>
    <a href = "/user/index">Grumbs</a>
    </nav>
  </header>
  <main>
    <h3>Grumblers That Like Your Grumble</h3>
      <div class = "container">
      {{#data}}
      <ul>
        <li>{{fname}}</li>
      </ul>
      {{/data}}
      </div>
  </main> 
</body>
</html>