!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gabbs</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <header>
    <h1>Grumble</h1> 
    <nav>
    <a href = "/login">Login</a>
    <a href = "/register">Create Account</a>
    <a href = "/user/messenger">Messages</a>
    <a href = "/user/index">Grumbs</a>
    </nav>
  </header>
  <main>
    <h3>Grumblers That Like Your Grumble</h3>
      <div class = "container">
      {{#data}}
      <ul>
        <li>{{fname}}</li>
      </ul>
      {{/data}}
      </div>
  </main> 
</body>
</html>