<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>
  <header class = "head3">
    <h1>Grumble :-/ </h1>
    <nav>
    {{#user}}
    <span>Logged in as {{user}}, </span><a href = "/login">Logout</a>
    </br>
    <a href = "/register">Create Account</a>
    </br>
    <a href = "/user/messenger">Submit Your Grumble</a>
    </br>
    <a href = "/user/index">Grumbs</a> 
    {{/user}}
    {{^user}}
    <span>You are not logged in. </span><a href = "/login">Login</a>
    {{/user}}
    </nav>
  </header>
  <main>
	<div class = "container">
  	<form action = "/login" method = "post">
  		<label>Username</label>
      </br>
  		<input type = "text" name = "username"/>
      </br>
  		<label>Password</label>
      </br>
  		<input type = "text" name = "password"/>
      </br>
  		<button type = "submit">Login</button>
  	</form>
  </div>
  <div class = "container">
    </br>
    <form action = "/register" method = "get">
      <h2>Grumbling? Register to get your grumbles grumbled. :-/</h2>
      <button type = "submit">Register</button>
    </form>
  </div>
  </main>
</body>
</html>