<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <header>
    <h1>Gabble</h1> 
    <nav>
    <a href = "/login">Login</a>
    <a href = "/register">Create Account</a>
    <a href = "/user/messenger">Messages</a>
    <a href = "/user/index">Gabbs</a>
    </nav>
  </header>
  <main>
    <h3>Grumble It Up You Grumbling Grumbler...</h3>
    <div class = "container">
    
    <form action = "/user/messenger" method = "post">
    <input type = "text" name = "aGrumb" placeholder = "Grumbles here..."/>
    <input type = "hidden" name = "userid" value = "{{userid}}"/>
    <button type = "submit">Gabb Away</button>
    
    </form>
    </div>
  </main>
</body>
</html>