<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>
  <header class = "head5">
   <h1>Grumble :-/ </h1>
    <nav>
    {{#user}}
    <span>Logged in as {{user}}, </span><a href = "/login">Logout</a>
    </br>
    <a href = "/register">Create Account</a>
    </br>
    <a href = "/user/messenger">Submit Your Grumble</a>
    </br>
    <a href = "/user/index">Grumbs</a> 
    {{/user}}
    {{^user}}
    <span>You are not logged in. </span><a href = "/login">Login</a>
    {{/user}}
    </nav>
  </header>
	<div class = "container">
  	<form action = "/register" method = "post">
      <label>Create a Username:</label>
      </br>
  		<input type = "text" name = "username"/>
      </br>
      <label>Password:</label>
      </br>
  		<input type = "text" name = "password"/>
      </br>
      <label>First Name:</label>
      </br>
      <input type = "text" name = "fname"/>
      </br>
      <label>Last Name:</label>
      </br>
      <input type = "text" name = "lname"/>
      </br>
      <label>Email:</label>
      </br>
      <input type = "text" name = "email"/>
      </br>
      <label>Phone number:</label>
      </br>
      <input type = "text" name = "phone"/>
      </br>
  		<button type = "submit">Login</button>
  	</form>
  </div>
</body>
</html>